body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

.orange-color {
    color: orange;
}

h3 {
    font-size: 20px;
}

.felxiable-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 3%;
}

.half-width img {
    width: 90%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 8px;
}

.top-baner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.Dream-big {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.expericence-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px lightblue;


}

#full-stack-developer {
    border-left: 7px solid tomato;
}

#baby-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}